html, body {
    overflow-x:hidden;
    width:100%;
   /* You may also want to try adding:*/
    margin: 0;
    padding: 0;
}
.header-image{
    width:80%;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 3vw;
    color:white;
}

.nav-item{
    font-size: 1.5rem;
    font-weight: 100;
}

.title{
    padding:5% 5% 0 5%;
    background-color: #f0134d;
    color:white;
}

.title-content{
    padding:5%;
}

h1{
    font-family: 'Courgette', cursive;
    font-size:4vw;
    line-height: 1.5;  
}